html {
    font-size: 62.5%;
}
* {
    box-sizing: border-box;
}
body {
    font-size: 1.6rem;
}
.container {
    max-width: 1400px;
    background-color: #e8e8e8;
    margin: 0 auto;
}

.header {
    background-color: #3a3a3a;
    color: #fff;
    padding: 2rem 2rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}

.header__logo {
    font-size: 1.8rem;
    font-style: italic;
    z-index: 1001;
}
.nav__link {
    display: flex;
    gap: 2rem;
    color: #fff;
    font-size: 1.8rem;
}
.nav__link a {
    text-decoration: none;
    color: #fff;
}
.container__content {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

    .content__sidebar {
        background-color: #3a3a3a;
        width: 300px;
        min-height: 400px;
        color: #fff;
        flex-shrink: 0;
        padding: 10px;
    }
}

.card {
    display: flex;
    margin-top: 10px;
    .card__item--list {
        gap: 1rem;
        display: flex;
        flex-wrap: wrap;
    }
}
.card__item {
    display: flex;
    flex-direction: column;
    width: calc((100% - 2rem) / 3);
    flex-grow: 0;
    list-style: none;
    border: 3px solid black;
}
.card__header {
    font-weight: bold;
    padding: 10px;
    font-size: 1.25rem;
    color: white;
    background-color: #3a3a3a;
}
.card__body {
    background-color: #fff;
    padding: 10px;
    flex: 1;
    color: #555;
    font-size: 1.6rem;
}
.container__heading {
    font-size: 2.4rem;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}
.container__paragraph {
    line-height: 1.5;
    font-size: 1.6rem;
    color: #555;
    margin-bottom: 10px;
}
.content__sidebar--desc {
    line-height: 1.5;
}
